* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    width: 375px;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    overflow-y: auto;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

tr, td, thead, tbody, th {
    padding: 0.5em;
    border: 1px solid #ccc;
}

th::first-letter {
    text-transform:capitalize;
}

input, select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.form-container {
    margin-bottom: 0.5em;
}

.form-label {
    font-size: 0.8rem;
    color: #9e9e9e;
    font-weight: 500;
    margin-bottom: 0.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}